/* Background body */
body {
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*############# ESTILOS EN LAS LETRAS ##############*/
/* TITLE OF THE APP */
.divChart {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

#firtConfirmed {
    font-family: 'Poppins', sans-serif;
    color: #F0B949;
    font-size: 20px;
}


#titleChart {
    font-family: 'Poppins', sans-serif;
    color: #F0B949;
    font-size: 30px;
}

.subTitle {
    font-family: 'Poppins', sans-serif;
    color: #F0B949;
    font-size: 40px;
    margin-bottom: 25px;
}

.Title {
    color: #F0B949;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}

/* TITLE TOTAL COMFIRMED */
.letraComfirmados {
    color: black;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}

/* NUMBER TOTAL CONFIRMED */
.numeroComfirmado {
    color: black;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;

}

/* TITLE TOTAL RECIVED */
.letraRecivered {
    color: green;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}

/* NUMBER TOTAL RECOVERED */
.numeroRecivered {
    color: green;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

/* TITLE TOTAL DEATHS */
.letraDeaths {
    color: red;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

/* NUMBER TOTAL DEATHS */
.numeroDeaths {
    color: red;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

/* ################################################# */


/* SEARCH INPUT */
.inputSize {
    width: 100%;
    font-size: 20px;
    padding-left: 40px;
}

/* DIV OF TOTAL VALUES */
.divTotales {
    background-color: white;
    border-radius: 15px;
    height: 140px;
    width: 100%;
    padding: 10px;
}

.divContent {
    margin-top: 50px;
    margin-bottom: 30px;
}


#cards {
    background-color: white;
}

#cards2 {
    background-color: #42A6C6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#cards3 {
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.inputSize:focus {
    border: 4px solid #F0B949;
}