<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SARS-CoV-2</title>

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="css/bootstrapcss/bootstrap.min.css">

    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="css/index.css">

    <!-- JS jQuery -->
    <script src="js/jquery/jquery-3.4.1.js"></script>

    <!-- JS Propper -->
    <script src="js/popperjs/popper.min.js"></script>

    <!-- JS Bootstrap -->
    <script src="js/bootstrapjs/bootstrap.min.js"></script>

    <!-- SOMES GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- JS Personalizado -->
    <script defer src="js/index.js"></script>
</head>

<body>
    <%- body -%>
</body>

</html>